@import 'tailwindcss';

/* Laravel core */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

/* App */
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/**/*.php';

/* Filament v3 (THIS IS WHAT YOU WERE MISSING) */
@source '../../vendor/filament/**/*.blade.php';
@source '../../vendor/filament/**/*.php';
@source '../../vendor/filament-support/**/*.php';
@source '../../vendor/filament-forms/**/*.php';
@source '../../vendor/filament-tables/**/*.php';
@source '../../vendor/filament-actions/**/*.php';
@source '../../vendor/filament-widgets/**/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
